@use "../partials/palette";
@use "../partials/typography";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10em;
    text-align: center;
}

.cloud {
    display: inline-block;
    top: 100px;
    left: 32%;
    font-family: typography.$headers;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item:hover {
    color: palette.$primary;
}

.about-cloud {
    border-radius: 10px;
    background: palette.$background-overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
