@use "./../partials/palette";

.about {
    grid-area: about;
    border-radius: 10px;
    background: palette.$background-overlay;
    padding: 1rem;
    &--flex {
        display: flex;
        flex-direction: column;
    }
}

.cloud {
    display: inline-block;
    top: 100px;
    left: 32%;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item:hover {
    color: palette.$primary;
}

.about-cloud {
    grid-area: about-cloud;
    border-radius: 10px;
    background: palette.$background-overlay;
    padding: 1rem;
}

.about-container {
    display: grid;
    padding: 1rem 5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row dense;
    grid-template-areas: "about about-cloud";
}
