@use "../partials/palette";
@use "../partials/typography";
@use "../mixins/mixins";

@mixin grid-template {
    display: grid;
    padding: 1rem 5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row dense;
}

.container {
    @include grid-template;
    grid-template-areas:
        "header header" "about about-cloud"
        "portfolio portfolio" "contact-me contact-form";
}

@include mixins.phone {
    .container {
        display: grid;
        padding: 1rem 5rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row dense;
        grid-template-areas:
            "header"
            "header"
            "about"
            "about-cloud"
            "portfolio"
            "portfolio"
            "contact-me"
            "contact-form";
    }
    .about-container {
        display: grid;
        padding: 1rem 5rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row dense;
        grid-template-areas:
            "about"
            "about-cloud";
    }
    .contact-container {
        display: grid;
        padding: 1rem 5rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row dense;
        grid-template-areas:
            "contact-me"
            "contact-form";
    }
}

@include mixins.tablet {
    .container {
        display: grid;
        padding: 1rem 5rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row dense;
        grid-template-areas:
            "header"
            "header"
            "about"
            "about-cloud"
            "portfolio"
            "portfolio"
            "contact-me"
            "contact-form";
    }
    .about-container {
        display: grid;
        padding: 1rem 5rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row dense;
        grid-template-areas:
            "about"
            "about-cloud";
    }
    .contact-container {
        display: grid;
        padding: 1rem 5rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row dense;
        grid-template-areas:
            "contact-me"
            "contact-form";
    }
}
