@use "./../partials/palette";

.container {
    display: grid;
    padding: 1rem 5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row dense;
    grid-template-areas:
        "header header"
        "about about-cloud"
        "portfolio portfolio"
        "contact-me contact-form";
}

@media only screen and (max-width: 768px) {
    .container {
        display: grid;
        padding: 1rem 5rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row dense;
        grid-template-areas:
            "header"
            "header"
            "about"
            "about-cloud"
            "portfolio"
            "portfolio"
            "contact-me"
            "contact-form";
    }
    .about-container {
        display: grid;
        padding: 1rem 5rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row dense;
        grid-template-areas:
            "about"
            "about-cloud";
    }
    .contact-container {
        display: grid;
        padding: 1rem 5rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row dense;
        grid-template-areas:
            "contact-me"
            "contact-form";
    }
}
