@use "../partials/palette";
@use "../partials/typography";
@use "../mixins/mixins";

.header {
    grid-area: header;
    border-radius: 10px;
    background: palette.$background-overlay;
    padding: 1rem;
    &__button {
        padding-top: 20px;
    }
    &--my-name {
        background: -webkit-linear-gradient(
            palette.$secondary,
            palette.$primary
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@include mixins.phone {
    h1 {
        font-size: 6em;
        padding: 0;
        margin: 0;
    }
}

@include mixins.tablet {
    h1 {
        font-size: 6em;
        padding: 0;
        margin: 0;
    }
}

@include mixins.laptop {
    h1 {
        font-size: 10em;
        padding: 0;
        margin: 0;
    }
}
