@use "./modules/navbar.scss";
@use "./modules/header.scss";
@use "./modules/about.scss";
@use "./modules/portfolio.scss";
@use "./modules/contact.scss";
@use "./modules/container.scss";
@use "./modules/button.scss";
@use "./mixins/mixins";
@use "./partials/palette";
@use "./partials/typography";

* {
    box-sizing: border-box;
}

body {
    font-family: typography.$headers;
    color: palette.$on-surface;
    background: palette.$background;
}

h2 {
    font-size: 4em;
    color: palette.$primary;
    @extend zero-pm;
}

p {
    font-family: typography.$text;
    font-size: 1.5em;
    @extend zero-pm;
}

.background-text {
    font-family: typography.$bg-text;
    color: #383838;
    font-size: 24px;
    user-select: none;
}
