// * material dark
$primary: #bb86fc;
$primary-variant: #3700b3;
$secondary: #03dac6;
$background: #121212;
$background-overlay: #1f1f1f;
$surface: #121212;
$error: #cf6679;
$black: #000000;
$white: #ffffff;

// * material light
// $primary: #6200EE;
// $primary-variant: #3700B3;
// $secondary: #03DAC6;
// $secondary-variant: #018786;
// $background: #FFFFFF;
// $surface: #FFFFFF;
// $error: #B00020;
// $on-primary: #FFFFFF;
// $on-secondary: #000000;
// $on-background: #000000;
// $on-surface: #000000;
// $on-error: #FFFFFF;
