@use "../partials/palette";
@use "../partials/typography";

$phone: 480px;
$tbt: 768px;
$laptop: 1024px;

@mixin phone {
    @media only screen and (max-width: $phone) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: ($phone + 1px)) and (max-width: $tbt) {
        @content;
    }
}

@mixin laptop {
    @media only screen and (min-width: ($tbt + 1px)) {
        @content;
    }
}

zero-pm {
    padding: 0;
    margin: 0;
}
